{
  "presets": [
    ["env", {
      "targets": {
        "node": 8
      }
    }],
    "flow"
  ],
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
